@font-face {
  font-family: Comfortaa;
  src: url('./assets/fonts/Comfortaa-VariableFont_wght.ttf');
}

@font-face {
  font-family: Lexend;
  src: url('./assets/fonts/Lexend-VariableFont_wght.ttf');
}

body {
  margin: 0;
  padding: 0;
  background-color: #4A456A !important;
  height: 1000vh;
}

.LandingComponent {
  margin-top: 0;
  height: 100vh;
  background: radial-gradient(50% 50% at 50% 50%, #B242E3 0%, #A553CC 33.33%, #6153BD 100%);
}

.SecondComponent {
  height: 100vh;
  background: linear-gradient(180deg, #6153BE 0%, #4A456A 100%);
}

.LandingHeader {
  display: block;
  position: absolute;
  top: 30vh;
  width: 100%;
}

.LandingHeaderTitle {
  display: flex;
  justify-content: center;
}

.LandingHeaderTitleText {
  color: #fafafa;
  font-family: 'Lexend';
  font-style: normal;
  font-weight: 700;
  font-size: 13vw;
  line-height: 13vw;
  text-align: center;
  letter-spacing: 0.05em;
}

.LandingHeaderLogoPic {
  transform: rotate(-10.95deg) translateY(-20%);
  width: auto;
  height: 17vw;
}

.LandingHeaderSubTitleText {
  margin-top: 5vh;
  color: #fafafa;
  font-family: 'Comfortaa';
  font-style: normal;
  font-weight: 700;
  font-size: 3.5vw;
  line-height: 3.5vw;
  text-align: center;
}

.NavBar {
  position: absolute;
  width: 100vw;
  top: 0;
  left: 0;
  position: sticky;
  height: 7vw;
  background: linear-gradient(180deg, #9587E8 0%, rgba(194, 118, 249, 0.74) 100%);
  -webkit-box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.2);
}

.NavBarLogoPic {
  margin-left: 2vw;
  transform: rotate(-10.95deg);
  width: 5vw;
  height: 5vw;
}

.NavBarLink {
  font-family: 'Lexend';
  font-style: normal;
  font-weight: 700;
  font-size: 1.5vw;
  line-height: 2vw;
  text-align: center;
}

.NavBarLinkText {
  margin: 0vw 2vw;
  color: #FFFFFF !important;
}

.batteryContainer {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  margin: 0 2vw;
  flex-direction: row;
  align-items: center;
}

.batteryOuter {
  border-radius: 0.6vw;
  background-image: linear-gradient(#6E65AA, #B1A8EA, #6E65AA);
  width: 9vw;
  height: 5vw;
  overflow: hidden;
}

.batteryBump {
  border-radius: 0 6vw 6vw 0;
  background-color: #4A456A;
  width: 0.4vh;
  height: 5vh;
  margin-right: 1vh;
}

#batteryLevel {
  border-bottom-left-radius: 0.6vw;
  border-top-left-radius: 0.6vw;
  background-image: linear-gradient(to right, #ED7650, #F2B34A);
  height: 5vw;
  width: 10%;
}

.AtomTop {
  position: absolute;
  top: 5vh;
  left: 55vw;
}

.AtomMiddle {
  position: absolute;
  top: 20vh;
  left: 2vw;
}

.AtomBottom {
  position: absolute;
  top: 75vh;
  left: 45vw;
}

.AtomSpinner {
  display: inline-block;
  animation: spin 30s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.QuizSlider {
  background: #4A456A;
}

.TextBox{
  height: fit-content;
  width: 70vw;
  padding: 4vw;
  text-align: left;
}

.InfoTitle{
  font-family: 'Lexend';
  font-weight: bold;
  font-size: 5vw;
}

.InfoText{
  font-family: 'Comfortaa';
  font-size: 1.5vw;
}
